.group-child {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #fff;
    border-bottom: 1px solid #d6d6d6;
    box-sizing: border-box;
    width: 1440px;
    height: 111px;
}

.logo-icon {
    position: relative;
    width: 123px;
    height: 32px;
}

.our-services {
    position: relative;
    line-height: 30px;
    font-weight: 600;
    cursor: pointer;
}

.our-services-parent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;
}

.logo-parent {
    position: absolute;
    top: 39px;
    left: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 725px;
}

.rectangle-parent {
    position: relative;
    width: 1440px;
    height: 111px;
    z-index: 0;
    font-size: 15px;
    font-family: Sora;
}

.group-item {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #fff;
    width: 1440px;
    height: 674px;
}

.vector-icon {
    position: absolute;
    height: 17.66%;
    width: 57.1%;
    top: 16.38%;
    right: 29.52%;
    bottom: 65.96%;
    left: 13.38%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}

.landlord {
    color: #fff;
}

.one-stop-solution-container1 {
    line-break: anywhere;
    width: 100%;
}

.one-stop-solution-container {
    position: absolute;
    width: 100%;
    top: 0%;
    left: 0%;
    line-height: 75px;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.one-stop-solution-for-landlord {
    position: relative;
    width: 590px;
    height: 150px;
}

.were-revolutionizing-this {
    position: relative;
    line-height: 30px;
    display: flex;
    align-items: center;
    width: 477px;
}

.enter-your-email {
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    width: 306.17px;
    height: 21px;
}

.your-email {
    position: absolute;
    top: -2px;
    left: 0px;
}

.divplaceholder {
    position: absolute;
    top: 18.91px;
    left: 21px;
    width: 289.5px;
    height: 21px;
    overflow: hidden;
    opacity: 0.6;
}

.email {
    position: absolute;
    width: calc(100% - 75.19px);
    top: calc(50% - 14px);
    right: 75.19px;
    left: 0px;
    border-radius: 30px;
    background-color: #fff;
    border: 1px solid #b7b7b7;
    box-sizing: border-box;
    height: 59px;
    font-size: 18px;
    color: #343434;
    font-family: 'Segoe UI';
}

.notify-me {
    position: relative;
    line-height: 16px;
    font-weight: 600;
}

.frame1 {
    position: absolute;
    bottom: 0px;
    left: 251.5px;
    border-radius: 30px;
    background-color: #00baf2;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 21.5px 44.410003662109375px 21.5px 42.779998779296875px;
    text-align: center;
    font-size: 16px;
    color: #fff;
}

.enter-your-email-below-to-star-parent {
    position: relative;
    width: 406.69px;
    height: 90px;
    font-size: 14px;
    color: #000;
}

.were-revolutionizing-this-pro-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 50px;
    font-size: 20px;
    color: #1b1b1b;
    font-family: 'Titillium Web';
}

.one-stop-solution-for-landlord-parent {
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 30px;
}

.vector-parent {
    position: absolute;
    height: 76.55%;
    width: 42.75%;
    top: 0%;
    right: 57.25%;
    bottom: 23.45%;
    left: 0%;
}

.group-inner {
    position: absolute;
    bottom: -0.5px;
    left: 510.72px;
    width: 869.28px;
    height: 345px;
}

.frame-child {
    position: relative;
    border-radius: 10px;
    background-color: #e3e3e3;
    width: 430px;
    height: 458px;
    z-index: 0;
}

.rectangle-div {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    width: 402px;
    height: 51px;
}

.div {
    position: relative;
    line-height: 20px;
    display: flex;
    align-items: center;
    width: 20.2px;
    height: 21px;
    flex-shrink: 0;
}

.rental-bond {
    position: relative;
    line-height: 30px;
    font-family: 'Titillium Web';
}

.parent {
    position: absolute;
    top: 11px;
    left: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 18px;
}

.group-div {
    position: relative;
    width: 402px;
    height: 51px;
}

.group-container {
    margin: 0 !important;
    position: absolute;
    top: 20px;
    left: 14px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    z-index: 1;
}

.rectangle-container {
    position: absolute;
    top: 10px;
    left: 831.7px;
    width: 429.84px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    font-size: 20px;
    font-family: 'Font Awesome 5 Free';
}

.group-parent {
    position: absolute;
    height: 91.1%;
    width: 95.83%;
    top: 8.9%;
    right: 0%;
    bottom: 0%;
    left: 4.17%;
}

.rectangle-group {
    position: relative;
    width: 1440px;
    height: 674px;
    z-index: 1;
    font-size: 60px;
    font-family: 'Maven Pro';
}

.zzroo {
    color: #00baf2;
}

.heading {
    position: relative;
    line-height: 115%;
    display: inline-block;
    width: 900px;
}

.description {
    position: relative;
    font-size: 18px;
    line-height: 160%;
    font-family: Sora;
    display: inline-block;
    width: 900px;
    color: #0f0f0f;
}

.row {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 24px;
}

.container-child {
    position: relative;
    width: 1340px;
    height: 33.62px;
}

.container2 {
    width: 1340px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.dividerhorizontal {
    width: 1280px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 6px 0px;
    box-sizing: border-box;
}

.icon-heart {
    position: relative;
    width: 48px;
    height: 48px;
    overflow: hidden;
    flex-shrink: 0;
}

.heading1 {
    align-self: stretch;
    position: relative;
    line-height: 140%;
    display: inline-block;
    height: 47px;
    flex-shrink: 0;
}

.description1 {
    align-self: stretch;
    position: relative;
    font-size: 16px;
    line-height: 160%;
    font-family: Sora;
    color: #0f0f0f;
}

.column {
    align-self: stretch;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0px 28px 34px 0px;
    gap: 2px;
}

.columns {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 32px;
}

.row1 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 24px;
}

.container1 {
    width: 1280px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 48px;
}

.wide-container {
    border-radius: 0px 0px 20px 20px;
    background-color: #fff;
    width: 1500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 100px 0px;
    box-sizing: border-box;
}

.benefits3-columns {
    align-self: stretch;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    z-index: 2;
}

.heading4 {
    align-self: stretch;
    position: relative;
    line-height: 115%;
    font-family: 'Playfair Display';
}

.description4 {
    align-self: stretch;
    position: relative;
    font-size: 18px;
    line-height: 160%;
    color: #0f0f0f;
}

.icon {
    position: relative;
    letter-spacing: 0.1px;
    line-height: 20px;
}

.icon-surround {
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4px;
}

.description5 {
    flex: 1;
    position: relative;
    font-size: 16px;
    line-height: 160%;
    font-family: Sora;
    color: #0f0f0f;
    text-align: left;
}

.line-item {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
}

.bullets {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 16px 0px 26px;
    gap: 16px;
    text-align: center;
    font-size: 20px;
    color: #00baf2;
    font-family: 'Material Icons';
}

.message {
    position: relative;
    letter-spacing: 0.05em;
    line-height: 160%;
    text-transform: uppercase;
    font-weight: 600;
}

.tagprimary {
    border-radius: 50px;
    background-color: #00baf2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 6px 18px;
    cursor: pointer;
    text-align: center;
    font-size: 11px;
    color: #fff;
}

.column3 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 100px 0px;
    gap: 16px;
}

.thinking-face-bro-1 {
    position: relative;
    width: 500px;
    height: 500px;
    overflow: hidden;
    flex-shrink: 0;
}

.container3 {
    width: 1280px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.wide-container1 {
    width: 1500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 160px 0px 100px;
    box-sizing: border-box;
}

.benefitright-image {
    align-self: stretch;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    z-index: 3;
    font-family: Sora;
}

.wide-container2 {
    width: 1500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 100px 0px;
    box-sizing: border-box;
}

.benefitleft-image {
    align-self: stretch;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    z-index: 4;
    font-family: Sora;
}

.divelementor-background-overl-icon {
    position: absolute;
    height: 100%;
    top: 0px;
    bottom: 0px;
    left: calc(50% - 720px);
    max-height: 100%;
    width: 1440px;
    object-fit: cover;
    opacity: 0.4;
}

.our-services1 {
    position: absolute;
    top: 50px;
    left: calc(50% - 200px);
    font-size: 70px;
    line-height: 115%;
    text-align: center;
}

.description12 {
    align-self: stretch;
    position: relative;
    font-size: 15px;
    line-height: 160%;
    font-family: Sora;
    color: #0f0f0f;
}

.column5 {
    align-self: stretch;
    flex: 1;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid #e9e6e0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 30px 28px 34px;
    gap: 14px;
}

.icon-bulb {
    position: relative;
    width: 48px;
    height: 48px;
}

.columns1 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 24px;
}

.row2 {
    position: absolute;
    top: 190px;
    left: 80px;
    width: 1280px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.columns2 {
    position: absolute;
    top: 456px;
    left: 80px;
    width: 1280px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 24px;
}

.divelementor-background-overl-parent {
    position: relative;
    width: 1440px;
    height: 1005px;
    z-index: 5;
    font-size: 24px;
}

.group-child7 {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #fff;
    width: 1440px;
    height: 949px;
}

.group-icon {
    position: absolute;
    top: 322.12px;
    left: 0.06px;
    width: 1440.11px;
    height: 627.71px;
}

.how-can-we {
    color: #000;
}

.hey-there-how-container {
    position: absolute;
    top: 90px;
    left: calc(50% - 473px);
    line-height: 115%;
}

.your-rental-journey {
    position: absolute;
    top: 200px;
    left: calc(50% - 325px);
    font-size: 18px;
    line-height: 160%;
    font-family: Sora;
    color: #67655e;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 651px;
}

.span {
    color: #ff0000;
}

.what-is-your-container {
    position: relative;
    line-height: 20px;
}

.group-child8 {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 3px;
    background-color: #f5f8fa;
    border: 1px solid #cbd6e2;
    box-sizing: border-box;
    width: 348px;
    height: 40px;
}

.please-select {
    position: absolute;
    top: 12px;
    left: 15px;
    line-height: 17px;
    display: flex;
    align-items: center;
    width: 98.04px;
    height: 17px;
}

.rectangle-parent8 {
    position: relative;
    width: 348px;
    height: 40px;
    font-size: 16px;
    color: #bfbfbf;
}

.what-is-your-inquiry-about-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 7px;
}

.rectangle-wrapper {
    position: relative;
    width: 348px;
    height: 40px;
}

.frame-parent {
    position: absolute;
    top: 164px;
    left: 0px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 86px;
}

.frame-group {
    position: absolute;
    top: 82px;
    left: 0px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 86px;
}

.frame-container {
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 86px;
}

.frame-item {
    position: relative;
    border-radius: 3px;
    background-color: #f5f8fa;
    border: 1px solid #cbd6e2;
    box-sizing: border-box;
    width: 782px;
    height: 66px;
}

.message-parent {
    position: absolute;
    top: 246px;
    left: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 5px;
}

.submit {
    position: relative;
    line-height: 15px;
}

.button {
    position: absolute;
    top: 387px;
    left: 0.19px;
    border-radius: 20px;
    background-color: #000;
    border: 1px solid #000;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 13px 24.839996337890625px 13px 25px;
    text-align: center;
    font-size: 15px;
    color: #fff;
}

.form {
    position: absolute;
    top: 318px;
    left: 328.61px;
    width: 782px;
    height: 428px;
    text-align: left;
    font-size: 13px;
    color: #33475b;
    font-family: Arial;
}

.rectangle-parent7 {
    position: relative;
    width: 1440.11px;
    height: 949px;
    z-index: 6;
    text-align: center;
    color: #00baf2;
}

.instance-child {
    position: relative;
    background-color: #fff;
    width: 1680px;
    height: 298px;
    z-index: 0;
}

.sub-title {
    align-self: stretch;
    position: relative;
    line-height: 140%;
}

.left-nav {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 32px 0px 0px;
    gap: 10px;
}

.row3 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.legal-statement {
    align-self: stretch;
    position: relative;
    line-height: 150%;
    display: inline-block;
    width: 1280px;
    flex-shrink: 0;
}

.legal {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 14px;
    font-family: Sora;
}

.container5 {
    width: 1280px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 40px;
}

.wide-container3 {
    margin: 0 !important;
    position: absolute;
    top: 0px;
    left: 90px;
    width: 1500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 48px 0px 86px;
    box-sizing: border-box;
    z-index: 1;
}

.rectangle-parent11 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    gap: 10px;
    z-index: 7;
    font-size: 18px;
    color: #0f0f0f;
}

.page-up-icon {
    position: absolute;
    margin: 0 !important;
    top: 690px;
    left: 1270px;
    width: 70px;
    height: 70px;
    cursor: pointer;
    z-index: 8;
}

.final-landing {
    position: relative;
    background-color: #fff;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    font-size: 70px;
    color: #000;
    font-family: 'Playfair Display';
}